.theme-dark {
  --second-text-color: #8c8c8c;
  --accent-color: #ff6b08;
  --white-text-color: #ffffff;
  --second-white-color: #f7f7f7;
  --second-bg-color: #1a1818;
  --main-bg-color: #383838;
  --hover-animation: 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.theme-light {
  --main-text-color: #000000;
  --second-text-color: #8c8c8c;
  --dark-text-color: #545454;
  --white-text-color: #ffffff;
  --main-bg-color: #ffffff;
  --second-bg-color: #f7f7f7;
  --header-bg-color: rgba(0, 0, 0, 0.56);
  --accent-color: #ff6b08;
  --hover-animation: 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}
