<div class="container gallery">
  <!--Сітка Карток-->
  <ul class="gallery_list">
    <li class="gallety__card">
      <!-- <a class="card__link" href="../images/film_gallery/1film-309.jpg"> 
                        <img class="card__img" srcset="../images/film_gallery/1film-280.jpg 280w,
                                          ../images/film_gallery/1film-309.jpg 309w,
                                          ../images/film_gallery/1film-336.jpg 336w,
                                          ../images/film_gallery/1film-560.jpg 560w,
                                          ../images/film_gallery/1film-618.jpg 618w,
                                          ../images/film_gallery/1film-672.jpg 672w," sizes="100vw" src="../images/film_gallery/1film-309.jpg" alt="Greyhound" />
                        <div class="movie__description">
                            <h2 class="movie__name">GREYHOUND</h2>
                            <p class="movie__type">Drama, Action | 2020</p>
                        </div>
                    </a>
                </li>
                
                <li class="gallety__card">
                    <a class="card__link" href="../images/film_gallery/1film-309.jpg">
                        <img class="card__img" srcset="../images/film_gallery/1film-280.jpg 280w,
                                                          ../images/film_gallery/1film-309.jpg 309w,
                                                          ../images/film_gallery/1film-336.jpg 336w,
                                                          ../images/film_gallery/1film-560.jpg 560w,
                                                          ../images/film_gallery/1film-618.jpg 618w,
                                                          ../images/film_gallery/1film-672.jpg 672w," sizes="100vw"
                            src="../images/film_gallery/1film-309.jpg" alt="Greyhound" />
                        <div class="movie__description">
                            <h2 class="movie__name">GREYHOUND</h2>
                            <p class="movie__type">Drama, Action | 2020</p>
                        </div>
                    </a>
                </li>

                <li class="gallety__card">
                    <a class="card__link" href="../images/film_gallery/1film-309.jpg">
                        <img class="card__img" srcset="../images/film_gallery/1film-280.jpg 280w,
                                                          ../images/film_gallery/1film-309.jpg 309w,
                                                          ../images/film_gallery/1film-336.jpg 336w,
                                                          ../images/film_gallery/1film-560.jpg 560w,
                                                          ../images/film_gallery/1film-618.jpg 618w,
                                                          ../images/film_gallery/1film-672.jpg 672w," sizes="100vw"
                            src="../images/film_gallery/1film-309.jpg" alt="Greyhound" />
                        <div class="movie__description">
                            <h2 class="movie__name">GREYHOUND</h2>
                            <p class="movie__type">Drama, Action | 2020</p>
                        </div>
                    </a>-->
    </li>
  </ul>
</div>
