<div class="container gallery"> 
   <!-- Сітка Карток  -->
  <ul class="gallery_list">
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle5x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle5x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle5x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle5x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle5x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle5x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle5x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">GREYHOUND</h2>
          <p class="movie__type">Drama, Action | 2020</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle12x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle12x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle12x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle12x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle12x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle12x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle12x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">MONSTER HUNTER</h2>
          <p class="movie__type">Drama, Action | 2020</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle13x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle13x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle13x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle13x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle13x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle13x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle13x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">ONCE UPON A TIME... IN HOLLYWOOD</h2>
          <p class="movie__type">Drama, Comedy | 2019</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle14x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle14x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle14x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle14x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle14x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle14x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle14x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">LITTLE WOMEN</h2>
          <p class="movie__type">Drama | 2019</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle5x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle5x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle15x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle15x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle15x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle15x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle15x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">AQUARELA</h2>
          <p class="movie__type">Documentary, Drama, Other | 2019</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle12x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle12x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle16x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle16x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle16x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle16x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle16x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">DAVID CROSBY: REMEMBER MY NAME</h2>
          <p class="movie__type">Documentary, Drama, Other | 2019</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle13x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle13x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle17x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle17x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle17x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle17x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle17x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">MOON</h2>
          <p class="movie__type">Sci-Fi, Action, Thriller | 2010</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle14x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle14x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle18x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle18x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle18x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle18x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle18x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">A FISTFUL OF LEAD</h2>
          <p class="movie__type">Western | 2019</p>
        </div>
      </a>
    </li>
    <li class="gallety__card">
      <a class="card__link" href="link">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              .\images\film_gallery\phone\phone_rectangle5x1.jpg 1x,
              .\images\film_gallery\phone\phone_rectangle5x2.jpg 2x
            "
          />
          <source
            media="(max-width:1023px)"
            srcset="
              .\images\film_gallery\tablet\tablet_rectangle5x1.jpg 1x,
              .\images\film_gallery\tablet\tablet_rectangle5x2.jpg 2x
            "
          />
          <source
            media="(min-width:1024px)"
            srcset="
              .\images\film_gallery\desk\desk_rectangle19x1.jpg 1x,
              .\images\film_gallery\desk\desk_rectangle19x2.jpg 2x
            "
          />
          <img
            class="card__img"
            src=".\images\film_gallery\desk\desk_rectangle19x1.jpg"
            alt="Greyhound"
          />
        </picture>
        <div class="movie__description">
          <h2 class="movie__name">BAD BOYS FOR LIFE</h2>
          <p class="movie__type">Action, Comedy | 2020</p>
        </div>
      </a>
    </li>
  </ul>
</div>
