<footer class="footer">
  <div class="footer__container container">

    <div class="footer__section">
        <div class="contact">
        <p class="contact__text text__p">CONTACT US</p>

        <ul class="contact__list">
          <li class="contact__item">
            <a class="contact__link" href="https://goo.gl/maps/B5wJ3eTb47fZjkf17" target="_blank" rel="noreferrer noopener">
            Kyiv, street E. Konovalets 36-E</a>
          </li>

          <li class="contact__item">
            <a class="contact__link" href="mailto:demo@demo.com">demo@demo.com</a>
          </li>

          <li class="contact__item">
            <a class="contact__link" href="tel:+38073777777">+38 073 777777</a>
          </li>
        </ul>
        </div>
     
      <div class="social">
        <p class="social__text text__p">FOLLOW US</p>

        <ul class="social__list">
          <li class="social__item">
            <a href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Instagram">
              <i class="fa-brands fa-instagram-square"></i>
            </a>
          </li>

          <li class="social__item">
            <a href="https://twitter.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Twitter">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>

          <li class="social__item">
            <a href="https://www.facebook.com/login/" target="_blank" rel="noreferrer noopener"
            aria-label="Facebook">
            <i class="fa-brands fa-facebook"></i>
            </a>
          </li>

          <li class="social__item">
            <a href="https://www.google.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Google+">
            <i class="fa-brands fa-google-plus"></i>
            </a>
          </li>

          <li class="social__item">
            <a href="https://www.youtube.com/" target="_blank" rel="noreferrer noopener"
            aria-label="YouTube" >
            <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="app">
        <p class="app__text text__p">Download Our App</p>
        <ul class="app__list">
          <li class="app__item">
            <a href="https://www.apple.com/ua/app-store/" target="_blank" rel="noreferrer noopener"
            aria-label="App Store">
              <i class="fa-brands fa-app-store-ios"></i>
            </a>
          </li>

          <li class="app__item">
            <a href="https://play.google.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Google Play">
              <i class="fa-brands fa-google-play"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__copyright">
      <p class="footer__text">©  2020 | All Rights Reserved |</p>
      <p class="footer__text">&nbsp;Developed 
        <i class="fa-solid fa-heart "></i>
        <!-- <i class="fa-solid fa-heart fa-flip" style="--fa-animation-duration: 2s;" ></i> -->
        by <a class="footer__link" href="https://goit.ua/" target="_blank" rel="noreferrer noopener">
          <span class="footer__text--begin">&nbsp;Go</span><span class="footer__text--end">IT</span></a>
          <a class="footer__link footer__link--name" href="#" modal-team-open>Special-team</a>
      </p>
    </div>
  </div>
</footer>
