<footer class="footer">
  <div class="footer__container container">

    <div class="footer__section">
        <div class="contact">
        <b class="contact__text text__b">CONTACT US</b>

        <ul class="contact__list">
          <li class="contact__item">
            <a class="contact__link" href="https://goo.gl/maps/B5wJ3eTb47fZjkf17" target="_blank" rel="noreferrer noopener">
              <svg class="contact__icon" width="16" height="14">
                <use href="./images/footer/sprite.svg#map-location"></use>
              </svg>
            <span class="contact__list-adress">Kyiv, street E. Konovalets 36-E</span></a>
          </li>

          <li class="contact__item">
            <a class="contact__link" href="mailto:demo@demo.com">
              <svg class="contact__icon" width="16" height="14">
                <use href="./images/footer/sprite.svg#email"></use>
              </svg>
              demo@demo.com</a>
          </li>

          <li class="contact__item">
            <a class="contact__link" href="tel:+38073777777">
              <svg class="contact__icon" width="16" height="14">
                <use href="./images/footer/sprite.svg#mobile"></use>
              </svg>
              +38 073 777777</a>
          </li>
        </ul>
        </div>
     
      <div class="social">
        <b class="social__text text__b">FOLLOW US</b>

        <ul class="social__list">
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Instagram">
            <svg class="social__icon" width="25" height="25">
              <use href="./images/footer/sprite.svg#instagram"></use>
            </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="https://twitter.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Twitter">
            <svg class="social__icon" width="25" height="25">
              <use href="./images/footer/sprite.svg#twitter"></use>
            </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/login/" target="_blank" rel="noreferrer noopener"
            aria-label="Facebook">
            <svg class="social__icon" width="25" height="25">
              <use href="./images/footer/sprite.svg#facebook"></use>
            </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="https://www.google.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Google+">
            <svg class="social__icon" width="25" height="25">
              <use href="./images/footer/sprite.svg#google-plus"></use>
            </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="https://www.youtube.com/" target="_blank" rel="noreferrer noopener"
            aria-label="YouTube">
            <svg class="social__icon" width="30" height="30">
              <use href="./images/footer/sprite.svg#youtube"></use>
            </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="app">
        <b class="app__text text__b">Download Our App</b>
        <ul class="app__list">
          <li class="app__item">
            <a class="app__link" href="https://www.apple.com/ua/app-store/" target="_blank" rel="noreferrer noopener"
            aria-label="App Store">
            <svg class="app__icon" width="35" height="30">
              <use href="./images/footer/sprite.svg#app-store"></use>
            </svg>
            </a>
          </li>

          <li class="app__item">
            <a class="app__link" href="https://play.google.com/" target="_blank" rel="noreferrer noopener"
            aria-label="Google Play">
            <svg class="app__icon" width="35" height="25">
              <use href="./images/footer/sprite.svg#google-play"></use>
            </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__copyright">
      <p class="footer__text">©  2022 | All Rights Reserved |</p>
      <p class="footer__text">&nbsp;<span class="footer__developed">Developed</span> 
       <i class="fa-solid fa-heart "></i>
        <span class="footer__text-by">by</span> <a class="footer__link" href="https://goit.ua/" target="_blank" rel="noreferrer noopener">
          <span class="footer__text--begin">&nbsp;Go</span><span class="footer__text--end">IT</span></a>
          <a class="footer__link footer__link--name js-modal-open" href="#">&nbsp;Special-team</a>
      </p>
    </div>
  </div>
</footer>
