<footer class="footer">
  <div class="footer__container container">
    <ul class="footer__list">
      <li class="footer__item">©  2020 | All Rights Reserved |</li>
      <li class="footer__item">&nbsp;Developed 
        <i class="fa-solid fa-heart "></i>
        <!-- <i class="fa-solid fa-heart fa-flip" style="--fa-animation-duration: 2s;" ></i> -->
        by <a class="footer__link" href="https://goit.ua/" target="_blank" rel="noreferrer noopener">
          <span class="footer__text--begin">&nbsp;Go</span><span class="footer__text--end">IT</span></a>
          <a class="footer__link footer__link--name" href="#" modal-team-open>&nbsp;Special-team</a>
      </li>
    </ul>
  </div>
</footer>
