<header class="header">
  <div class="header-container container">
    <h1 class="header__title">Filmoteka
    </h1>
    <div class="header__tabs" id="tabs-1">
      <div class="header__controls" data-controls>
        <a href="#Home" class="header__controls-item">HOME</a>
        <a href="#MyLibrary" class="header__controls-item">MY LIBRARY</a>
      </div>

      <div class="header__panes" data-panes>
        <div class="header__pane" id="Home">
          <form action="" class="header__search-form">
            <input type="tex " name="searchQuery" autocomplete="of" placeholder="Поиск фильмов"
              class="header__serch-input">
            <!--  <button type="submit" class="serch-button"></button> -->
          </form>
        </div>

        <!-- <div class="header__pane" id="MyLibrary">
          <div class="library__controls" data-controls>
            <a href="#Watched" class="library__controls-item ">WATCHED</a>
            <a href="#Queue" class="library__controls-item">QUEUE</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  </div>
</header>