<header class="header-library">
    <div class="container header-library__container">
        <nav class="header-library-nav">
            <ul class="header-library-nav__list">

                <li class="header-library-nav__item">
                    <button type="button" class="header-library-nav__button--logo">
                        <svg width="24" height="24">
                            <use href="./images/svg/symbol-defs.svg#icon-film"></use>
                        </svg>
                        <span class="header-library-nav__logotext">Filmoteka</span>
                    </button>
                </li>

                <li class="header-library-nav__item">
                    <button type="button" class="header-library-nav__button ">home</button>
                </li>

                <li class="header-library-nav__item">
                    <button type="button" class="header-library-nav__button header-library-nav__button--active">my library</button>
                </li>

            </ul>
        </nav>
            

        <ul class="header-library-buttons">
            <li class="header-library-buttons__item">
                <button type="button" class="header-library-buttons__button header-library-buttons__button--active">watched</button>
            </li>

            <li class="header-library-buttons__item">
                <button type="button" class="header-library-buttons__button">queue</button>
            </li>
        </ul>
    </div>
</header>
