<header class="header">
  <nav class="header-container container">

    <div class="header__tabs" id="tabs-1">
      <div class="header__title-panel">
        <i class="fa-solid fa-film"></i>
        <h1 class="header__title">Filmoteka
        </h1>
      </div>
      <ul class="header__controls" data-controls>
        <li><a href="#home" class="header__controls-item current">HOME</a></li>
        <li><a href="#myLibrary" class="header__controls-item">MY LIBRARY</a></li>
      </ul>
    </div>
    <div class="header__panes" data-panes id="Home">
      <form action="" class="header__search-form">
        <label for="search-form-label">
          <input type="text " name="searchQuery" autocomplete="off" placeholder="Movie search" class="search-form-input">
          <button type="submit" class="input-search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <p class="search-form__error is-hidden">Sorry Brother, there is no such movie!</p>
        </label>
      </form>
    </div>
  </nav>
  </div>
</header>