<div class="modal-card ">
    <div class="cardItem__image">
        <img class="image" src="https://m.media-amazon.com/images/I/81qB1pCnBIL._SY445_.jpg" alt=""/>
    </div>

    <div class="cardItem__wrapper">
        <h2 class="cardItem__name">A FISTFUL OF LEAD</h2>
        <p class="cadrItem__vote cardItem_text">
            Vote / Votes<span class="cardItem__vote_average">7.3</span>
            /<span
                class="cardItem__vote_count">1260</span>
        </p>
        <p class="cardItem__popularity cardItem_text">
            Popularity<span class="cardItem___data">100.2</span>
        </p>
        <p class="cardItem-Title cardItem_text">
            Original Title<span class="cardItem__title_data">A FISTFUL OF LEAD</span>
        </p>
        <div class="genres">
            <p class="cardItem__genre cardItem_text">
                Genre
            </p>
            <p class="cardItem__genreList">
                <span class="cardItem__genre_data">Western</span>
                </p>
        </div>

        <p class="cardItem__about">About</p>
        <p class="cardItem__description">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <div class="cardItem__listButton">
            <button class="cardItem__button">
                Add to watched
            </button>
            <button class="cardItem__button">
                Add to queue
            </button>
        </div>
    </div>
    <div class="modal-close-btn">X</div>
</div>