<!-- <div class="modal__backdrop"></div> -->
<div class="modal__backdrop is-hidden">
  <div class="modal__container">
    <!-- <div class="film__image">
      <img class="image" src="https://m.media-amazon.com/images/I/81qB1pCnBIL._SY445_.jpg" alt="" />
    </div>

    <div class="film__information">
      <div>
        <h2 class="film__title">A FISTFUL OF LEAD</h2>
        <ul>
          <li class="film__item">
            <p class="film__details">Vote / Votes</p>
            <p class="film__info--uper">
              <span class="film__rating--orange">7.3</span>
              <span class="film__rating--divider"> / </span>
              <span>1260</span>
            </p>
          </li>
          <li class="film__item">
            <p class="film__details">Popularity</p>
            <p class="film__info--uper">100.2</p>
          </li>
          <li class="film__item">
            <p class="film__details">Original title</p>
            <p>A FISTFUL OF LEAD</p>
          </li>
          <li class="film__item">
            <p class="film__details">Genre</p>
            <p class="film__info">Western</p>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="film__about__title">About</h3>
        <p class="film__about__text">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>
      <div class="film__button__wrapper">
        <button type="button" class="film__button btn__watch" data-id="">Add to watched</button>
        <button type="button" class="film__button btn__queue" data-id="">Add to queue</button>
      </div> -->
    <!-- <button class="closeModal"></button> -->
    <div class="closeModal"></div>
      <!-- <div class="film__trailer">
        <a class="btn btn-large btn-primary film__trailer__btn" href="#">
          <i class="fa-brands fa-youtube fa-3x"></i>
          <div class="film__trailer__text__wrapper">
            <p class="film__trailer__text">watch trailer</p>
          </div>
        </a>
      </div> -->
    </div>
  </div>
</div>
