.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.8);

    visibility: visible;
    pointer-events: auto;
    overflow-y: scroll;

    transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden.modal {
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 0;

    transform: translate(-50%, -100%);
}

.modal {
    position: relative;
    width: 280px;
    padding: 50px 20px 30px 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    overflow: hidden;

    background-color: #f7f7f7;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    
    transition: transform 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71), 
    opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

    @media screen and (min-width: 768px) and (max-width: 1023px) {
       width: 628px; 
       padding: 42px 28px 28px 28px;

    }

    @media screen and (min-width: 1024px) {
        width: 800px;
        padding: 42px 28px 28px 28px;
      
    }
}

.modal__close-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    right: 10px;

    display: inline-flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border-color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;

    cursor: pointer;
    transition: color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

    fill: #000000;
    background-color: #f7f7f7;

    &:hover,
    &:focus {
        fill: #ff6b08;
        border-color: #ff6b08;
    }
    
}

body.dark__theme {
    .modal__close-btn {
        fill: #8c8c8c;
        background-color: #1a1818;
        border-color: #8c8c8c;

        &:hover,
        &:focus {
            fill: #ff6b08;
            border-color: #ff6b08;
        }
    }
}