// .back-to-top {
//   position: fixed;
//   bottom: 24px;
//   right: 32px;
//   z-index: 200;
//   width: 48px;
//   height: 48px;
//   font-size: 16px;

//   background-color: #ff6b0895;
//   color: #fff;
//   cursor: pointer;
//   border-radius: 50%;
//   display: flex;
//   //   display: none;
//   align-items: center;
//   justify-content: center;
//   transition: background-color 0.5s;
// }

// .back-to-top:hover {
//   background-color: #ff6b08;
// }

// .back-to-top__show {
//   display: flex;
// }

.back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ff6b08; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.back-to-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
