.modal__backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }
}

.modal__container {
  overflow-x: auto;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #000000;
  max-height: 100vh;
  width: 100%;
  padding: 48px 20px 40px 20px;

  .modal__backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    margin: auto;
    width: 100%;
    height: 570px;
    padding: 40px 36px 40px 36px;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    max-width: 882px;
    height: 568px;
    padding: 40px 16px 40px 16px;
  }
}
.image {
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 396px;
    height: 477.8px;
  }
}
.film__image {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}
.film__information {
  text-align: start;
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__item {
  display: flex;
  margin-bottom: 10px;
}
.film__details {
  color: second-text-color;
  min-width: 108px;
}

.film__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.film__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}
.film__rating--divider {
  margin-right: 3px;
}

.film__about__title {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.film__about__text {
  line-height: 1.67;
  margin-bottom: 21px;
}
.film__button__wrapper {
  display: flex;
  margin-bottom: 16px;
}
.film__button {
  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  &:hover,
  &:focus {
    background-color: #ff6b08;
    color: #ffffff;
    border: 1px solid #ff6b08;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.film__button.active {
  background-color: #ff6b08;
  color: #ffffff;
  border: 1px solid #ff6b08;
}

.film__button:first-child {
  margin-right: 15px;
}

.film__trailer {
  display: flex;
}

.film__trailer__btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  &:hover,
  &:focus {
    background-color: #ff6b08;
    color: #ffffff;
    border: 1px solid #ff6b08;
  }
}
.film__trailer__text {
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.15;
  text-align: center;
}

//dark theme
body.dark__theme .modal__container {
  background-color: var(--second-dark-bg-color);
  .film__title {
    color: var(--accent-color);
  }
  .film__details {
    color: var(--white-text-color);
  }
  .film__rating--orange {
    color: var(--main-text-color);
    font-weight: 900;
  }
  .film__info--uper,
  .film__about__title,
  .film__about__text,
  .film__trailer__text,
  .film__info {
    color: var(--second-text-color);
  }
  .film__details ~ p {
    color: var(--second-text-color);
  }
  .fa-youtube::before {
    color: #a90606;
  }
  .film__trailer__btn:hover .fa-youtube::before {
    color: var(--main-text-color);
  }
  .film__trailer__btn {
    border-color: var(--second-text-color);
    &:hover,
    &:hover .film__trailer__text {
      border: transparent;
      color: white;
    }
  }

  .closeModal::before,
  .closeModal::after {
    background-color: var(--white-text-color);
  }
}

//плеєр
iframe {
  position: relative;
  min-width: 50vw;
  height: 60vh;
}

#youtube-close-btn {
  position: absolute;
  width: 48px;
  background-color: transparent;
  border: transparent;
  z-index: 2;
  top: -47px;
  right: -10px;
  .fa-regular {
    width: 35px;
    height: 35px;
    color: var(--second-text-color);
    border-radius: 50%;
    font-size: 30px;
    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: pointer;
    }
  }
}
.basicLightbox.basicLightbox--visible {
  background-color: rgba(0, 0, 0, 0.9);
}
