.backdrop-auth {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    
    width: 100%;
    height: 100%;

    padding-top: auto;
    padding-bottom: auto;
 
    background: rgba(0, 0, 0, 0.8);
    
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.visibility {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;

    transform: translate(-50%, -50%) scale(1);
    
    width: 310px;

    padding-bottom: 30px;

    background: #fff;

    box-shadow: 1px 1px 100px -9px rgba(255, 107, 8, 0.95);
    
    border-radius: 8px;

    transition: transform 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

    @media screen and (min-width: 480px) {
        width: 390px;
    }
}

.auth-container .hidden-tab {
    transform: translate(-50%, -50%) scale(0.2);

}

.tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    color: var(--main-text-color);
    background: #fff;
    
    opacity: 1;
    visibility: visible;
    pointer-events: none;

    transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.tabs-list {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50px;

    opacity: 1;
    visibility: visible;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.top-left {
    border-top-left-radius: 8px;

    color: var(--white-text-color);
    
    background: var(--main-dark-bg-color);

    opacity: 1;
    visibility: visible;
    pointer-events: all;
    
    transition: background-color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.top-right {
    border-top-right-radius: 8px;

    color: var(--white-text-color);
    
    background: var(--main-dark-bg-color);

    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: background-color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    opacity: 1;
    visibility: visible;
    pointer-events: all;

    transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71), visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

    & input,
    & button {
        width: 80%;
        height: 50px;

        border: 1px solid var(--main-dark-bg-color);
        border-radius: 8px;
    }

    & :not(:last-child) {
        padding: 8px;
        margin-bottom: 30px;
    }
}

.confirm-btn {
    width: 80%;
    height: 50px;

    color: var(--white-text-color);    
    background-color: var(--main-dark-bg-color);

    border: solid;
    border-radius: 8px;

    margin-left: auto;
    margin-right: auto;

    transition: box-shadow 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

    &:hover,
    &:focus {
        cursor: pointer;

        box-shadow: 1px 1px 47px -9px rgba(255, 107, 8, 0.69) inset;
    }
}

.del-msg {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;

    opacity: 1;
    visibility: visible;

    transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.hidden-tab {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.login-eye-position.show-pswd,
.upd-eye-position.show-pswd,
.reg-eye-position.show-pswd {
    fill: var(--main-dark-bg-color);
    padding: 0;
    margin: 0;
}

.login-eye-position.hide-pswd,
.upd-eye-position.hide-pswd,
.reg-eye-position.hide-pswd {
    fill: #929292;
    padding: 0;
    margin: 0;
}

.login-eye-position {
    position: absolute;
    top: 172px;
    right: 49px;
}

.reg-eye-position,
.upd-eye-position {
    position: absolute;
    top: 251px;
    right: 49px;
}

.auth-modal-cross {
    position: absolute;
    top: -30px;
    right: -30px;
    // top: 88px;
    // right: 337px;

    fill: #fff;

    background-color: rgba(255, 255, 255, 0.1);

    border: 1px solid #fff;
    transition: fill 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
        box-shadow 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

    &:focus,
    &:hover {
        fill: var(--accent-color);
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 1px 1px 55px 13px rgba(255, 107, 8, 0.95);
    }

}
