.team__modal {
    overflow-x: hidden;
    padding: 10px;

    background-color: #f7f7f7;
}

.modal__wrapper {
    margin-bottom: 30px;
}

// .modal__close-btn {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     top: 8px;
//     right: 8px;

//     display: inline-flex;
//     align-self: flex-start;
//     justify-content: center;
//     align-items: center;

//     // border: none;

//     border-radius: 50%;
//     border-color: #8c8c8c;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     box-sizing: border-box;
   

//     cursor: pointer;
//     transition: color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

//     fill: #8c8c8c;
//     background-color: #f7f7f7;
   
//     &:hover,
//     &:focus {
//         fill: #ff6b08;
//         border-color: #ff6b08;
//     }
// }

.team {
    width: 100%;
    flex-direction: column;
}

.team__logo {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;

    padding: 5% 10%;
   
    border-radius: 6px;
    background: #8c8c8c;
    box-shadow: 0 -150px 70px -120px #000000 inset,
    0 -220px 70px -120px #ff6b08 inset,
    0 -280px 70px -120px  #545454 inset;
    animation: background 4s infinite alternate;
}

@keyframes background {
    50% {
        background: darkorange;
        box-shadow: 0 -140px 70px -120px orangered inset,
        0 -210px 70px -120px #f7f7f7 inset,
        0 -280px 70px -120px grey inset;
    }
}

.team__container {
    display: flex;
    justify-content: center;

    margin-top: 10px;

    @media screen and (min-width: 768px) {
        margin-top: 20px;
    }

    @media screen and (min-width: 1024px) {
        margin-top: 20px;
    }
}

.team__list {
    padding: 0;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }

      @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
      }
}

.team__item {
    @media screen and (min-width: 320px) {
        margin-bottom: 10px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
      }

      @media screen and (min-width: 1024px) {
        width: 230px;
        
        flex-basis: calc(100% / 3 - 30px);
        margin-left: 30px;
       
        &:nth-child(-n + 11) {
          margin-bottom: 30px;
        }
      }
}
 
.team__img-wrapper {
    border-radius: 20px;
    overflow: hidden;    
}

.team__img {
    width: 100%;
    height: auto;
    border-radius: 20px;

    transition: 1s;
    &:hover,
    &:focus {
        transform: scale(1.1)
    }
}

.team__developer {
    font-style: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    
    margin-bottom: 10px;

    border: none;
    border-radius: 6px;
    border-bottom: 2px solid #ff6b08;

    color: #000000;
}

.team__prof {
    font-style: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    
    margin-bottom: 10px;

    color: #ff6b08;
}

.team__social {
    display: flex;
    justify-content: center;
}

.team__link {
     @include flexcenter(flex, center, center);
}

.team__link:not(:last-child) {
    margin-right: 15px;
}


.fa-brands {
    color: #000000;

    transition: color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);

    &:hover,
    &:focus {
        color: #ff6b08;
    }
}

/* Animation */ 
.team__img-wrapper{
    position:relative;
    margin:0 auto;
    width: 170px; 
    height: 120px;       
    border-radius: 20px;

  }
  
.team__img-wrapper .team__img,
.team__img-wrapper .team__photo {
    width: 100%;
    border-radius: 20px;
    position:absolute;
    left: 0;
    top: 0; 
  }

  .team__img-wrapper.animate2 .team__img--first {
    opacity:0;
    filter:alpha opacity(0);
  }
  
  .team__img-wrapper:hover .team__img--first{
    opacity:1;
    filter:alpha opacity(100);
  }
  
  .team__img-wrapper:hover .team__img--second, 
  .team__img-wrapper .team__img--second:hover {
    opacity:0;
    filter:alpha opacity(0);
      transition: all 0.5s ease-in-out; 
  }

  .team__img-wrapper:not(:hover) .team__img--first:not(:hover){
    opacity:0;
    filter: alpha opacity(100);
     filter: alpha opacity(0);
    transition: all 0.5s ease;
  }

  .team__img:not(:hover), .team__img-wrapper .team__img--second:not(:hover) {
    opacity:1;
    filter: alpha opacity(0);
    transition: all 0.5s ease;
  }


/* DARK THEME */
body.dark__theme {
    .team__developer {
        color: #ff6b08;
    }

    .team__prof {
        color: #000000;
    }
}

//Тут була Оленка
body.dark__theme .team__modal {
    background-color: var(--second-dark-bg-color);

    // .modal__close-btn {
    //     fill: #8c8c8c;
    //     background-color: #1a1818;
    //     border-color: #8c8c8c;

    //     &:hover,
    //     &:focus {
    //         fill: #ff6b08;
    //         border-color: #ff6b08;
    //     }
    // }
    
    .fa-brands {
        color: #8c8c8c;

        &:hover,
        &:focus {
            color: #ff6b08;
        }
    }

    .team__developer {
        color: #ff6b08;
    }

    .team__prof {
        color: white;
    }
}