// .team__modal {
//     overflow: auto;
//     padding: 10px;
// }

// .close-btn {
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     top: 8px;
//     right: 8px;

//     display: inline-flex;
//     align-self: flex-start;
//     justify-content: center;
//     align-items: center;

//     cursor: pointer;
//     transition: color var(--hover-animation);

//     color: #8c8c8c;

//     &:hover,
//     &:focus {
//         color: #ff6b08;
//     }
    
// }

.fa-duotone {
    width: 18px;
    height: 18px;
}

.team {
    width: 100%;
    flex-direction: column;
}

.team__logo {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 15px #8c8c8c;

    margin-bottom: 15px;
    padding: 5% 10%;

    color: #ff6b08;
    background-color: transparent;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
}

span {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        position: absolute;
    }

    &:nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: linear-gradient(90deg, #000000, #ff6b08, #000000);
        animation: animateTop 2s linear infinite paused;
    }

    &:nth-child(2) {
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background-color: linear-gradient(0, #000000, #ff6b08, #000000);
        animation: animateRight 2s linear infinite paused;
    }

    &:nth-child(3) {
        bottom: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: linear-gradient(90deg, #000000, #ff6b08, #000000);
        animation: animateBottom 2s linear infinite paused;
    }

    &:nth-child(4) {
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: linear-gradient(0, #000000, #ff6b08, #000000);
        animation: animateLeft 2s linear infinite paused;
    }
}



@keyframes animateTop {
    0% {
        transform:translateX(-100%)
    }

    100% {
        transform:translateX(100%)
    }
}

@keyframes animateRight {
    0% {
        transform:translateY(-100%)
    }

    100% {
        transform:translateY(100%)
    }
}

@keyframes animateBottom {
    0% {
        transform:translateX(100%)
    }

    100% {
        transform:translateX(-100%)
    }
}

@keyframes animateLeft {
    0% {
        transform:translateY(100%)
    }

    100% {
        transform:translateY(-100%)
    }
}