.films {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-bottom: -32px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.films__item {
  width: calc((100% - 48px) / 3);
  margin-left: 16px;
  margin-bottom: 32px;
}

.films__img {
  margin-bottom: 8px;
}

.films__title,
.films__meta {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.films__title {
  text-transform: uppercase;
}

.films__meta {
  display: flex;
  color: #ff6b08;
}

.films__data::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #ff6b08;

}

.gallery {
  padding-top: 20px;
 padding-bottom: 20px;
 margin-bottom: 20px;

@media screen and (min-width: 768px) {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  }
}

.gallery_list{
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
}

.gallety__card{
  margin-bottom: 20px;

  &:last-child{
    margin-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    &:nth-last-child(2){
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1024px) {
    &:nth-last-child(3) {
      margin-bottom: 0px;
    }
  }
}

.movie__description{
  margin-top:10px ;
  margin-bottom: 0px;

}

.movie__name{
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
  color: var(--main-text-color);

}

.movie__type{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;
}