.home {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header/mob-background-home-1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/mob-background-home-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    height: 220px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/tab-background-home-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header/tab-background-home-2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    height: 215px;
    // width: 1024px;
    background-size: 1024px auto;
    background-color: var(--main-text-color);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/desk-background-home-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header/desk-background-home-2x.jpg);
    }
  }
}
.library {
  background-color: var(--main-text-color);
  background-image: linear-gradient(to bottom, #100001 50%, #610315);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header/mob-background-library-1x.jpg);
  background-position: center;
  background-size: 1024px auto;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/mob-background-library-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    height: 220px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/tab-background-library-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header/tab-background-library-2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    height: 215px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/desk-background-library-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header/desk-background-library-2x.jpg);
    }
  }
}
.header-container {
  min-width: 320px;
  height: 230px;
  padding-top: 45px;
}
.header__tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__title-panel {
  display: flex;
}

.header__logo {
  display: flex;
}

.icon-animation {
  display: block;
  padding: 0;
  margin-top: 2px;
  margin-right: 10px;
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 3s infinite;
}
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
.logo-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;
  // display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #ff6b08;
  }
  &:focus {
    color: #ff6b08;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header__nav {
  display: flex;
  // margin-left: auto;
}

.header__controls {
  display: flex;
  // padding-bottom: 60px;
  // padding-top: 44px;
  // margin-left: auto;
  justify-content: space-between;
  cursor: pointer;
}

.header__panes {
  margin-top: 44px;
}

.header__controls-item {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  margin-left: 41px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: #ff6b08;
  }
}
.current {
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  width: 102%;
  height: 3px;
  left: 0;
  bottom: -2px;
  background: #ff6b08;
  border-radius: 2px;
}
.header__pane-search-form {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}
.header__search-form.is-hidden {
  display: none;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
}
.search-form__error {
  display: none;
  padding-top: 40px;
  font-size: 24px;
  line-height: 1.14;
  text-align: center;
  color: #ff001b;
}
.header__search-form-input {
  width: 280px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-bottom: 1px solid #ff6b08;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}
.header__pane-search-form {
  position: relative;
}

.header__input-search-buttons {
  padding: 3px;
  position: absolute;
  right: -15px;
  bottom: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    right: 170px;
  }
  @media screen and (min-width: 1024px) {
    right: 297px;
  }
}

.header__library-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__library-buttons-item:first-child {
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 16px;
  }
}

.header__library-buttons-button {
  width: 129.5px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: inherit;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 152px;
  }
  @media screen and (min-width: 1024px) {
    width: 148px;
  }
}

.header__library-buttons-button:hover,
.header__library-buttons-button--active {
  background-color: #ff6b08;
  border: 1px solid #ff6b08;
}

.pane {
  display: none;
}

.pane--active {
  display: block;
}

.header__select {
  width: 40px;
  height: 20px;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 41px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.header-container {
  position: relative;
}
.header__container-select {
  display: flex;
  align-items: center;
  z-index: 100;
  position: absolute;
  right: 27px;
  top: 170px;
}

.header__registration-icon {
  fill: #ffffff;
  width: 13px;
  height: 13px;
  margin-left: 35px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ff6b08;
  }
}
.header__container-select .choices {
  width: 35px;
  font-size: 10px;
  margin-left: 20px;
  border-radius: 8px;
  background-color: #000000;
  height: 35px;
}

.header .choices {
  color: #000000;
}

.header .choices__list.choices__list--single {
  background-color: white;
}

.header .choices__inner {
  background-color: white;
}

.header__container-select .choices__list--dropdown {
  height: 70px;
  width: 35px;
  padding: 0;
}

.choices[data-type*='select-one'] > .choices__list > .choices__list > .choices__item--selectable {
  padding-right: 0px;
}

.choices[data-type*='select-one']
  > .choices__list
  > .choices__list
  > .choices__item--selectable::after {
  display: none;
}
.header__genre .choices {
  width: 117px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #000000;
  color: #000000;
  height: 35px;
}

.choices__list.choices__list--single {
  background-color: white;
}

.header__container-select .choices__inner {
  background-color: white;
  padding: 7px 0 0 0;
  text-align: center;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #ff6b08;
  color: white;
}

.choices__list--dropdown {
  height: 225px;
  font-size: 12px;
}
.header__genre {
  display: flex;
  align-items: center;
  z-index: 100;
  position: absolute;
  left: 27px;
  top: 170px;
}
.choices__list--single {
  padding: 4px 0px 0px 0px;
}
.header__container-select .choices[data-type*='select-one']::after {
  content: '';
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 8.5px;
  top: 30%;
  margin-top: -2.5px;
  pointer-events: none;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 12px;
  padding: 10px 10px 10px 8px;
}
.header__genre .choices__inner {
  padding: 5px 5px 0 5px;
  text-align: center;
}
.choices[data-type*='select-one']::after {
  content: '';
  display: none;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, blue 50%, yellow 50%);
  opacity: 1;
}
