.tui-pagination {  

  &.custom-tui-pagination {
    @include flexcenter();

    margin: 0;
    height: 40px;
    margin-top: 0;
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      margin-top: 60px;
    }

    .tui-page-btn {
      @include flexcenter();

      height: 100%;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      border-radius: 5px;
      border: 0;
      color: var(--main-text-color);
      min-width: 40px;
      margin-right: 0;
      margin-left: 0;

      &.tui-is-selected {
        background: var(--accent-color);
        border-left-color: var(--accent-color);
        border-right-color: var(--accent-color);
      }

      &.tui-prev,
      &.tui-next {
        background-color: var(--second-white-color);
      }
    }

    .tui-is-disabled {
      .tui-ico-prev,
      .tui-ico-next {
        background-position: 0 0;
      }
    }

    .tui-ico-prev,
    .tui-ico-next {
      background: url(../images/svg/arrow.svg) no-repeat 0 0;
      width: 16px;
      height: 16px;
    }

    .tui-ico-prev {
      transform: rotate(180deg);
    }

    strong {
      background: transparent;
    }

    .tui-last,
    .tui-first {
      display: none;
    }
  }
}
//darkmode
body.dark__theme #pagination{
  .tui-page-btn:hover, .tui-page-btn:focus{
    background-color: #9d9c9c38;
    color: var(--white-text-color);
  }
  .tui-next,.tui-prev{
    background-color: rgb(198, 198, 198);
  }
  a{
    color:var(--second-text-color);
  }
  .tui-is-selected{
    font-weight: 900;
  }
}